.title{
  display: flex;
}

.title img{
  width: 100px;
  margin-left: 50px;
}

body{
  background-color:#E6E6E6 ;
  margin-left: 10px;
}

input {
  border: none;
  outline: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-top: 5px;
  height: 20px;
  padding-left:8px;
  width: 200px
}

#output li {
 background: #6ee67a;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  width: 350px;
}



ul {
  list-style: none;
  padding: 0;
}

.gio_btn{
  margin-left: 10px;
  height: 24px;

}

